
body{
  background-color: #282c34;
}
.sectionsubHeading{
  color: blueviolet;
  font-size: 1.2rem;
  font-weight: bold;
}
.sectionHeading{
  font-size: 3rem;
  font-weight: bold;
}
.creatorContainer{
  width: 100%;
  margin-top: 20vh;
  margin-bottom: 20vh;
}
.buttonContainer{
  margin-top: 10vh;
  width: 20%;
  justify-content: space-around;
}
.subContainer{
  height: 50vh;
}
.container{
  height: 90%;
}